@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] names = { "Eli", "Saqi" };
}

<h1>Salammmm</h1>

<ul>
    @foreach(var item in names)
            {
                <li>@item</li>
            }
</ul>